{#
This file is part of the CampaignChain package.

(c) CampaignChain, Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@blockui_js' combine=true %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#campaign_new').on('click', function () {

                var modal = new CampaignChain.Modal();

                modal.init({
                    spinner_start: $.blockUI,
                    spinner_stop: $.unblockUI
                });

                modal.showForm('campaignchain_core_campaign_new');

                $(document).on('campaignchain:form:submit:success', function (e, data) {
                    // if step 1 goto step 2
                    if (data.step === 1) {
                        modal.showForm(data.next_step);

                        // if step 2 reload current page
                    } else if (data.step === 2) {
                        location.reload();
                    }
                });

                // TODO: when there is proper validation in the controller implemented, show error messages here
            });
        });
    </script>
{% endblock %}

{% block bodytabs %}
    {{ knp_menu_render('CampaignChainCoreBundle:Builder:executeListTab', { 'style': 'tabs' }) }}
{% endblock %}

{% block body %}
    {% include 'CampaignChainCoreBundle:Base:datatable.html.twig' %}

    <div class="row">
        <div class="col-sm-12 secondary-nav">
            <button class="btn btn-primary" id="campaign_new">
                <span class="fa fa-plus"></span> Add new campaign
            </button>
        </div>
    </div>

    <!--<div class="table-responsive">-->
        <table id="example" class="table table-striped table-bordered dataTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Execution</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in repository_campaigns%}
                    <tr class="
                            {% if campaign.status == "paused" %}text-muted {% endif %}
                            ">
                        <td>{{ campaign|campaignchain_tpl_teaser }}</td>
                        <td>{{ campaign|campaignchain_tpl_trigger_hook_inline }}</td>
                        <td align="center">
                            <a class="btn btn-primary"
                               role="button"
                               data-toggle="tooltip" data-placement="top" data-original-title="Edit"
                               href="{{ path('campaignchain_core_campaign_edit',{'id':campaign.id}) }}">
                               <span class="fa fa-pencil"></span>
                            </a>
                            <a class="btn btn-primary"
                               role="button"
                               data-toggle="tooltip" data-placement="top" data-original-title="Plan"
                               href="{{ path(campaign.getCampaignModule().getRoutes().plan_detail,{'id':campaign.id}) }}">
                                <span class="fa fa-calendar"></span>
                            </a>
                            {{ campaign.id|campaignchain_btn_copy_campaign }}
                            {#{% if campaign.status == 'inactive' %}#}
                                {#<button type="button" class="btn btn-default btn-xs">#}
                                    {#<a href="#"><span class="fa fa-play"></span></a>#}
                                {#</button>#}
                            {#{% else %}#}
                                {#<button type="button" class="btn btn-default btn-xs">#}
                                    {#<a href="#"><span class="fa fa-pause"></span></a>#}
                                {#</button>#}
                            {#{% endif %}#}

                                {#<a class="btn btn-primary btn-xs" role="button" data-toggle="modal"#}
                                               {#data-target="#delete{{ campaign.id }}Modal"><span class="fa fa-trash-o"></span></a>#}


                            {#<div class="modal fade" data-id="{{ campaign.id }}" id="delete{{ campaign.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="delete{{ campaign.id }}Modal" aria-hidden="true">#}
                                {#<div class="modal-dialog">#}
                                    {#<div class="modal-content">#}
                                        {#<div class="modal-header">#}
                                            {#<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
                                            {#<h4 class="modal-title" id="myModalLabel">Delete</h4>#}
                                        {#</div>#}
                                        {#<div class="modal-body">#}
                                            {#<p>Are you sure you want to delete "{{ campaign.name }}"?</p>#}
                                            {#<input type="hidden" name="entityId" id="entityId" value=""/>#}
                                        {#</div>#}
                                        {#<div class="modal-footer">#}
                                            {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                                            {#<button type="submit" class="btn btn-warning">Delete</button>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}

                            {#<script>#}
                                {#$(document).on("click", "#delete{{ campaign.id }}Modal", function () {#}
                                    {#var entityId = $(this).data('id');#}
                                    {#$(".modal-body #entityId").val( entityId );#}
                                {#});#}
                            {#</script>#}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <!--</div>-->
{% endblock %}
