{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends 'CampaignChainCoreBundle:Wizard/Install:form.html.twig' %}

{% set page_title = 'Admin User' %}

{% block description %}
<p>Please provide the user data for the administrator.</p>
<p>Use these credentials to log into CampaignChain after the installation wizard is done.</p>
{% endblock %}

{% block form %}
    {{ form_row(form.user) }}
    {{ form_row(form.first_name) }}
    {{ form_row(form.last_name) }}
    {{ form_row(form.password) }}
    {{ form_row(form.email) }}
    {{ form_row(form.timezone) }}
{% endblock %}