{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class='campaignchain-medium-icon'>
    <a href="{{ url }}">
        <img class='icon' src='{{ asset( icon_path ) }}'/>
        <img class='context-icon' src='{{ asset( context_icon_path ) }}' style='background-image: url("{{ asset( context_icon_path ) }}");'/>
    </a>
    <span class="text"><a href="{{ url }}">{{ name }}</a></span>
</div>