{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% macro timeline(tasks, absolute_dates = true, open_tree = false, show_day = true) %}
    {% block javascripts %}
        {% javascripts '@dhtmlxgantt_js' %}
        <!-- @dhtmlxgantt_js --><script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets '@dhtmlxgantt_css' combine=true %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
    {% endblock %}

    {% if absolute_dates == true %}
        {% javascripts '@campaignchain_dhtmlxgantt_pre_init_absolute_dates_js' combine=true %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts '@campaignchain_dhtmlxgantt_pre_init_global_campaign_js' combine=true %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts '@campaignchain_dhtmlxgantt_pre_init_relative_dates_js' combine=true %}
        <!-- pre init relative --><script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts '@campaignchain_dhtmlxgantt_pre_init_global_activity_js' combine=true %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    {% embed 'AvanzuAdminThemeBundle:Widgets:box-widget.html.twig' %}
        {% block box_before %}<div id="campaignchain-timeline">{% endblock %}
        {% block box_title %}
            <div class="btn-toolbar" role="toolbar">
                {% if absolute_dates == true %}
                    <div class="btn-group btn-sm">
                        <a href="#" class="btn btn-default" onclick="scrollToToday()" role="button">Today</a>
                    </div>
                {% endif %}
                <div class="btn-group btn-sm">
                    <a href="#" class="btn btn-default" onclick="zoom_tasks('fullyear', 'fullyear')">Years</a>
                    <a href="#" class="btn btn-default" onclick="zoom_tasks('year', 'year')">Months</a>
                    <a href="#" class="btn btn-default" onclick="zoom_tasks('trplweek', 'full_week')">Week</a>
                    {% if show_day is not defined or show_day == true %}
                        <a href="#" class="btn btn-default" onclick="zoom_tasks('week', 'full_day')">Day</a>
                    {% endif %}
                </div>
            </div>

            {% block javascripts %}
                {% if absolute_dates == true %}
                    {% javascripts '@campaignchain_dhtmlxgantt_toolbar_absolute_dates_js' combine=true %}
                    <!-- @campaignchain_dhtmlxgantt_toolbar_absolute_dates_js --><script src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                {% else %}
                    {% javascripts '@campaignchain_dhtmlxgantt_toolbar_relative_dates_js' combine=true %}
                    <!-- @campaignchain_dhtmlxgantt_toolbar_relative_dates_js --><script src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                {% endif %}
            {% endblock %}
        {% endblock %}
        {% block box_tools %}
            <script type="application/javascript">
                function campaignchainFullWindowGantt(isFullWindow) {
                        $('#gantt_here').css('width', '100% !important');
                        gantt.render();
                        $("#campaignchain_gantt_today").css("height", $(".gantt_task_bg").innerHeight());
                }
            </script>
            <a
                href="javascript:void(0);"
                onclick="campaignchainFullWindow('#campaignchain-timeline', 'campaignchainFullWindowGantt')"
            >
                <span class="fa fa-expand"></span>
            </a>
        {% endblock %}
        {% block box_body %}
            <div id="gantt_here" style='width:100%; height:600px;'></div>

            <script type="text/javascript">
                var tasks = {{ tasks|raw }}
                        gantt.init("gantt_here");
            </script>

            {% if absolute_dates == true %}
                {% javascripts '@campaignchain_dhtmlxgantt_post_init_absolute_dates_js' combine=true %}
                <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% else %}
                {% javascripts '@campaignchain_dhtmlxgantt_post_init_relative_dates_js' combine=true %}
                <!-- post init relative -->
                <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}
            <script type="text/javascript">
                {% if open_tree == true %}
                    gantt.config.open_tree_initially = true;
                {% endif %}
                gantt.config.autosize = "y";

                gantt.parse (tasks);

                {% if absolute_dates == true %}
                    scrollToToday();
                {% endif %}
            </script>
        {% endblock %}
        {% block box_after %}</div>{% endblock %}
    {% endembed %}

    {% include 'CampaignChainCoreBundle:Base:modal_remote.html.twig' %}
{% endmacro %}

{% macro calendar(events) %}
        {% javascripts '@fullcalendar_js' combine=true %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% stylesheets '@fullcalendar_css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}

        <script>
            $(document).ready(function() {

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay,week'
                    },
                    timeFormat: {
                        month: 'H:mm',
                        agendaWeek: 'H:mm',
                        agendaDay: 'H:mm',
                        week: 'H:mm'
                    },
                    defaultDate: new Date(),
                    editable: true,
                    height: 600,
                    defaultTimedEventDuration: '00:01:00',
                    eventRender: function(event, element) {
                        // Render Milestone icon.
                        if (event.icon_path_16px)
                        {
                            element.css({"background-image":"url('" + event.icon_path_16px +"')"});
                        }

                        // Render Activity and Campaign icons
                        if (event.tpl_teaser)
                        {
                            element.prepend(event.tpl_teaser);
                        }

                        // Edit in modal.
                        element.bind('dblclick', function() {
                            // Done tasks cannot be edited.
                            var today = campaignchainGetUserDateTime(moment());
                            if(+event.start < +today && +event.end < +today){
                                return false;
                            }
                            campaignchainShowEditModal(
                                    event.type, event.campaignchain_id, event.route_edit_api,
                                    event, 'campaignchainCalendarTaskDblClickSuccess'
                            );
                        });
                    },
                    eventDrop: function(event, delta, revertFunc) {
                        var start_date = campaignchainCalendarNormalizeDate(event.start.format());
                        var requestData = { id: event.campaignchain_id, start_date: start_date.format() };
                        campaignchainMoveAction(event.type, requestData);
                    },
                    eventSources: [
                        {% if events and events is iterable %}
                        {% for event_type, event in events %}
                        {
                            events: {{ event.data|raw }},
                {% for option_key, option_val in event.options %}
                {{ option_key }}: '{{ option_val }}',
                {% endfor %}
            },
                {% endfor %}
                {% endif %}
                ]
            });
            });

        </script>

        <div class="box box-default">
            <div class="box-body no-padding">
                <div id='calendar'></div>
            </div>
        </div>

    {% include 'CampaignChainCoreBundle:Base:modal_remote.html.twig' %}
{% endmacro %}