{#
This file is part of the CampaignChain package.

(c) CampaignChain Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Wizard/Install:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@blockui_js' combine=true %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="symfony-form-errors">
        {{ form_errors(form) }}
    </div>
    <form action="{{ path('campaignchain_core_install_step', { 'index': index }) }}" method="POST">
        <div id="form">

            {% block form %}{% endblock %}

            {{ form_rest(form) }}

            <p>&nbsp;</p>
            <button class="btn btn-primary" id="blockui-wait-button" type="submit">Next Step</button>
            {% include 'CampaignChainCoreBundle:Base:blockui_wait.html.twig' %}
        </div>
    </form>
{% endblock %}