{#
This file is part of the CampaignChain package.

(c) CampaignChain, Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@fullcalendar_js' combine=true %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@fullcalendar_css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block bodytabs %}
    {{ knp_menu_render('CampaignChainCampaignScheduledCampaignBundle:Builder:planListTab', { 'style': 'tabs' }) }}
{% endblock %}

{% block body %}
<script>
    $(document).ready(function() {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            timeFormat: {
                month: 'H:mm',
                agendaWeek: 'H:mm',
                agendaDay: 'H:mm'
            },
            defaultDate: new Date(),
            editable: true,
            defaultTimedEventDuration: '00:01:00',
            eventRender: function(event, element) {
                // Render Milestone icon.
                if (event.icon_path_16px)
                {
                    element.css({"background-image":"url('" + event.icon_path_16px +"')"});
                }

                // Render Activity and Campaign icons
                if (event.tpl_teaser)
                {
                    element.prepend(event.tpl_teaser);
                }

                // Edit in modal.
                element.bind('dblclick', function() {
                    // Done tasks cannot be edited.
                    var today = campaignchainGetUserDateTime(moment());
                    if(+event.start < +today && +event.end < +today){
                        return false;
                    }
                    campaignchainShowModal(
                        event.type, event.campaignchain_id, event.route_edit_api,
                        event, 'campaignchainCalendarTaskDblClickSuccess'
                    );
                });
            },
            eventDrop: function(event, delta, revertFunc) {
                var start_date = campaignchainCalendarNormalizeDate(event.start.format());
                campaignchainMoveAction(event.campaignchain_id, start_date, event.type);
            },
            eventSources: [
                {% if events and events is iterable %}
                    {% for event_type, event in events %}
                    {
                        events: {{ event.data|raw }},
                        {% for option_key, option_val in event.options %}
                            {{ option_key }}: '{{ option_val }}',
                        {% endfor %}
                    },
                    {% endfor %}
                {% endif %}
            ]
        });
    });

</script>
<div id='calendar'></div>
    {% include 'CampaignChainCoreBundle:Base:modal_remote.html.twig' %}
{% endblock %}