{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@fullcalendar_js' combine=true %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@fullcalendar_css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block bodytabs %}
    {{ knp_menu_render('CampaignChainCampaignScheduledCampaignBundle:Builder:planListTab', { 'style': 'tabs' }) }}
{% endblock %}

{% block body %}
<script>
    $(document).ready(function() {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            timeFormat: {
                month: 'H:mm',
                agendaWeek: 'H:mm',
                agendaDay: 'H:mm'
            },
            defaultDate: new Date(),
            editable: true,
            defaultTimedEventDuration: '00:01:00',
            eventRender: function(event, element) {
                if (event.icon_path_16px)
                {
                    element.css({"background-image":"url('" + event.icon_path_16px +"')"});
                }
                if (event.location_icon)
                {
                    var icon = "<div class='campaignchain-medium-icon'>";
                    icon = icon + "<img class='icon' src='" + event.location_icon + "'/>";
                    icon = icon + "<img class='context-icon' src='" + event.activity_icon + "' style='background-image: url(\"" + event.activity_icon + "\");'/>";
                    icon = icon + "</div>";
                    element.prepend(icon);
                }
                element.bind('dblclick', function() {
                    campaignchainShowModal(
                        event.start,
                        event.end,
                        event.type, event.campaignchain_id, event.route_edit_api,
                        event, 'campaignchainCalendarTaskDblClickSuccess'
                    );
                });
            },
            eventAfterRender: function(event, element, view) {
                element.draggable();
            },
            eventDrop: function(event, delta, revertFunc) {
                var start_date = campaignchainCalendarNormalizeDate(event.start.format());
                campaignchainMoveAction(event.campaignchain_id, start_date, event.type);
            },
            eventSources: [
                {% if events and events is iterable %}
                    {% for event_type, event in events %}
                    {
                        events: {{ event.data|raw }},
                        {% for option_key, option_val in event.options %}
                            {{ option_key }}: '{{ option_val }}',
                        {% endfor %}
                    },
                    {% endfor %}
                {% endif %}
            ]
        });

        $('.fc-view tbody').draggable();

    });

</script>
<div id='calendar'></div>
    {% include 'CampaignChainCoreBundle:Base:modal_remote.html.twig' %}
{% endblock %}