{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <title>
        {{ page_title }} - CampaignChain
    </title>
    {% include('CampaignChainCoreBundle:Base:_head.html.twig') %}
    {% block avanzu_head %}{% endblock %}
    {% block javascripts %}{% endblock %}
    {% block stylesheets %}{% endblock %}
</head>

<body class="{{ avanzu_admin_context.skin|default("")|body_class }}">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="{{ app.request.getSchemeAndHttpHost() }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
                {% block avanzu_logo_mini %}<img src="/icon.png" height="24">{% endblock %}
            </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">
               {% block avanzu_logo_lg %}<img src="/logo.png" height="24">{% endblock %}
            </span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">{{ 'Toggle navigation'|trans({}, 'AvanzuAdminTheme')  }}</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_USER') -%}
                        {% block avanzu_navbar_messages %}
                            {#
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <ul class="menu">
                                        <li><!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <!-- User Image -->
                                                    <img src="{{ asset('theme/dist/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
                                                </div>
                                                <!-- Message title and timestamp -->
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <!-- The message -->
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    </ul>
                                    <!-- /.menu -->
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- /.messages-menu -->
                        #}
                            {{ render(controller('AvanzuAdminThemeBundle:Navbar:messages')) }}
                        {% endblock %}
                        {% block avanzu_navbar_notifications %}
                            {#
                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li><!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        #}
                            {{ render(controller('AvanzuAdminThemeBundle:Navbar:notifications')) }}
                        {% endblock %}
                        {% block avanzu_navbar_tasks %}
                            {#
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- Inner menu: contains the tasks -->
                                    <ul class="menu">
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <!-- The progress bar -->
                                                <div class="progress xs">
                                                    <!-- Change the css width attribute to simulate progress -->
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        #}
                            {{ render(controller('AvanzuAdminThemeBundle:Navbar:tasks')) }}
                        {% endblock %}
                        <!-- Developer Tools -->
                        {% if campaignchain_env == 'dev' %}
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Developer Tools"><span class="fa fa-wrench"></span> <span class="visible-xs-inline">Developer Tools </span><b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('campaignchain_development_sample_data') }}">Sample Data</a></li>
                                        <li><a href="{{ path('campaignchain_development_reset_system') }}">Reset System</a></li>
                                        <li><a href="{{ path('nelmio_api_doc_index') }}" target="_blank">REST API Doc</a></li>
                                    </ul>
                                </li>
                            </ul>
                        {% endif %}
                        {% block avanzu_navbar_user %}
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="{{ app.user.avatarImage|imagine_filter('navbar_avatar') }}" class="user-image" alt="{{ app.user.name }} ({{ app.user.username }})">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">{{ app.user.name }} ({{ app.user.username }})</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="{{ app.user.avatarImage|imagine_filter('avatar') }}" class="img-circle" alt="User Image">

                                    <p>
                                        {{ app.user.name }} ({{ app.user.username }})
                                        <small>Timezone: {{ campaignchain_user_timezone_abbreviation }}</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{{ path('campaignchain_core_profile_edit') }}" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        {% endblock %}
                        {% block avanzu_navbar_control_sidebar_toggle %}
                        {% if avanzu_admin_context.control_sidebar %}
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                        {% endif %}
                        {% endblock %}
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            {% if is_granted('ROLE_USER') -%}
                {% block avanzu_sidebar_user %}
                    {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                        {{ render(controller('AvanzuAdminThemeBundle:Sidebar:userPanel')) }}
                    {% endif %}
                {% endblock %}

                {% block avanzu_sidebar_search %}
                    {{ render(controller('AvanzuAdminThemeBundle:Sidebar:searchForm')) }}
                {% endblock %}

                {% block avanzu_sidebar_nav %}
                    {% if avanzu_admin_context.knp_menu.enable %}
                        {% include 'AvanzuAdminThemeBundle:Sidebar:knp-menu.html.twig' %}
                    {% else %}
                        {{ render(controller('AvanzuAdminThemeBundle:Sidebar:menu', {'request':app.request})) }}
                    {% endif %}
                {% endblock %}
            {% endif %}
            {#
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ asset('theme/dist/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Alexander Pierce</p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <!-- search form (Optional) -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <!-- /.search form -->

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">HEADER</li>
                <!-- Optionally, you can add icons to the links -->
                <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
                <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="#">Link in level 2</a></li>
                        <li><a href="#">Link in level 2</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
            #}
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ page_title }}{% if page_secondary_title is defined and page_secondary_title is not empty %} <small>{{ page_secondary_title }}</small>{% endif %}
            </h1>

            {% block avanzu_breadcrumb %}
                {% if avanzu_admin_context.knp_menu.enable %}
                    {% include 'AvanzuAdminThemeBundle:Breadcrumb:knp-breadcrumb.html.twig' %}
                {% else %}
                    {{ render(controller('AvanzuAdminThemeBundle:Breadcrumb:breadcrumb', {'request':app.request, 'title' : block('page_title')})) }}
                {% endif %}
            {% endblock %}
            {#
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
            #}
        </section>

        <!-- Main content -->
        <section class="content">
            {% block bodytabs %}{% endblock %}

            {% include 'CampaignChainCoreBundle:Base:flashbag.html.twig' %}

            <div class="page-content">
                {% block body %}{% endblock %}
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->

    {% block avanzu_footer %}
        {% include 'CampaignChainCoreBundle:Base:_footer.html.twig' %}
    {% endblock %}
    {% if is_granted('ROLE_USER') -%}
        {% block avanzu_control_sidebar %}
            {% if avanzu_admin_context.control_sidebar %}
                {% include 'CampaignChainCoreBundle:Base:_settings.html.twig' %}
            {% endif %}
        {% endblock %}
    {% endif %}
</div>
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
{% block avanzu_javascripts %}{% endblock %}
{% block avanzu_javascripts_inline %}{% endblock %}

<script type="text/javascript">
    $(function () {
        $("[data-toggle=tooltip]").tooltip();
    })
</script>
<div class="modal fade" id="campaignchain-default-modal" data-show="false"><div class="modal-dialog"><div class="modal-content"></div></div></div>
{% block javascripts_footer %}{% endblock %}

</body>
</html>
