{#
This file is part of the CampaignChain package.

(c) CampaignChain Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
    <script>
        $(":required")
                .closest(".control-group")
                .children("label")
                .prepend("<span class='icon-asterisk'></span> ");
    </script>
    {% javascripts '@daterangepicker_js' combine=false %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
    {% stylesheets '@select2_css' combine=true %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    {% stylesheets '@daterangepicker_css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% javascripts '@select2_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage|raw }}
        </div>
    {% endfor %}

    {% block form_header %}{% endblock %}

    {% block form %}
        <form method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
            {{ bootstrap_set_style('horizontal') }}
            {{ bootstrap_set_widget_col(6) }}
            {{ bootstrap_set_label_col(2) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <div class="col-lg-8">
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        {% block form_footer_btn_group %}{% endblock %}
                        {% include 'CampaignChainCoreBundle:Base:form_footer_buttons.html.twig' %}
                    </div>
                </div>
            </div>
        </form>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
    {% endblock %}

    {% block form_footer %}{% endblock %}

{% endblock %}