{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {% if (campaignchain_system is not null) and (campaignchain_system.homepage is not null)   %}
                {% set brand_url = campaignchain_system.homepage %}
            {% else %}
                {% set brand_url = 'http://www.campaignchain.com' %}
            {% endif %}

            {% if (campaignchain_system is not null) and (campaignchain_system.logo is not null) %}
                <a class="navbar-brand" href="{{ brand_url }}"><img src="{{ campaignchain_system.logo }}" height="24" class="visible-md-block visible-lg-block visible-sm-block">
                {% if campaignchain_system.icon is not null %}
                    <img src="{{ campaignchain_system.icon }}" height="24" class="visible-xs-block">
                {% endif %}
                </a>
            {% else %}
                <a class="navbar-brand" href="{{ brand_url }}">CampaignChain</a>
            {% endif %}

            <ul class="navbar-nav nav campaignchain-navbar">
                <li class="first"><a href="{{ path('campaignchain_core_plan') }}"><i class="fa fa-calendar"></i> <span class="visible-md-inline visible-lg-inline visible-sm-inline">Plan</span></a></li>
                <li><a href="{{ path('campaignchain_core_campaign') }}"><i class="fa fa-dashboard"></i> <span class="visible-md-inline visible-lg-inline visible-sm-inline">Execute</span></a></li>
                <li class="last"><a href="{{ path('campaignchain_core_report') }}"><i class="fa fa-area-chart"></i> <span class="visible-md-inline visible-lg-inline visible-sm-inline">Monitor</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-plus"></span> <span class="visible-md-inline visible-lg-inline visible-sm-inline">Create </span><span class="caret visible-md-inline-block visible-lg-inline-block visible-sm-inline-block"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('campaignchain_core_activities_new') }}">Activity</a></li>
                        <li><a href="{{ path('campaignchain_core_milestone_new') }}">Milestone</a></li>
                        <li><a href="{{ path('campaignchain_core_campaign_new') }}">Campaign</a></li>
                        <li><a href="{{ path('campaignchain_core_channel_new') }}">Location</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!-- User -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="You"><span class="fa fa-user"></span> <span class="visible-md-inline visible-lg-inline">{{ app.security.getToken().getUser().getUsername() }} </span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {#<li><span id="campaignchain_user_datetime"></span></li>#}
                        {#<li class="divider"></li>#}
                        <li><a href="{{ path('campaignchain_core_profile_edit') }}"><span class="fa fa-user"></span> Profile</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><span class="fa fa-sign-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Settings -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Settings"><span class="fa fa-cog"></span> <span class="visible-xs-inline">Settings </span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('campaignchain_core_user') }}">Users</a></li>
                        <li><a href="#">Teams</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('campaignchain_core_channel') }}">Channels</a></li>
                        <li><a href="{{ path('campaignchain_core_location') }}">Locations</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('campaignchain_core_system_module') }}">Modules</a></li>
                        {% if (campaignchain_system is not null) and (campaignchain_system.navigation is not null)  and (campaignchain_system.navigation.settings is not null) %}
                            <li class="divider"></li>
                            {% for nav_setting in campaignchain_system.navigation.settings  %}
                                <li><a href="{{ path(nav_setting.1) }}">{{ nav_setting.0 }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
            </ul>

            <!-- Developer Tools -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Developer Tools"><span class="fa fa-wrench"></span> <span class="visible-xs-inline">Developer Tools </span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('campaignchain_development_sample_data') }}">Sample Data</a></li>
                    </ul>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>