{#
This file is part of the CampaignChain package.

(c) CampaignChain, Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<nav class="navbar navbar-default navbar-fixed-top campaignchain-navbar-main" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {% if (campaignchain_system is not null) and (campaignchain_system.homepage is not null)   %}
                {% set brand_url = campaignchain_system.homepage %}
            {% else %}
                {% set brand_url = path('campaignchain_core_homepage') %}
            {% endif %}

            <a class="navbar-brand" href="{{ app.request.getSchemeAndHttpHost() }}"><img src="/logo.png" height="24" class="visible-md-block visible-lg-block visible-sm-block">
                <a class="navbar-brand" href="{{ app.request.getSchemeAndHttpHost() }}"><img src="/icon.png" height="24" class="visible-xs-block"></a>
            </a>

            {% if is_granted('ROLE_USER') -%}

                <ul class="navbar-nav nav campaignchain-navbar">
                    <li class="first"><a href="{{ path('campaignchain_core_plan') }}" data-step="5"><i class="fa fa-calendar"></i> <span class="visible-md-inline visible-lg-inline visible-sm-inline">Plan</span></a></li>
                    <li><a href="{{ path('campaignchain_core_execute') }}"><i class="fa fa-dashboard"></i> <span class="visible-md-inline visible-lg-inline visible-sm-inline">Execute</span></a></li>
                    <li class="last" data-step="6"><a href="{{ path('campaignchain_core_report') }}"><i class="fa fa-area-chart"></i> <span class="visible-md-inline visible-lg-inline visible-sm-inline">Monitor</span></a></li>
                    <li class="dropdown" data-step="1">
                        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" id="menu_new"><span class="fa fa-plus"></span> <span class="visible-md-inline visible-lg-inline visible-sm-inline">New </span><span class="caret visible-md-inline-block visible-lg-inline-block visible-sm-inline-block"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li  class="first" data-step="4"><a href="{{ path('campaignchain_core_activities_new') }}">Activity</a></li>
                            <li><a href="{{ path('campaignchain_core_milestone_new') }}">Milestone</a></li>
                            <li data-step="3"><a href="{{ path('campaignchain_core_campaign_new') }}">Campaign</a></li>
                            <li data-step="2"><a href="{{ path('campaignchain_core_channel_new') }}">Location</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!-- User -->
            {% if is_granted('ROLE_USER') -%}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown navbar-profile-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{{ app.user.name }}">
                            <img class="navbar-profile-avatar" src="{{ app.user|campaignchain_user_avatar|imagine_filter('navbar_avatar') }}" class="avatar" alt="{{ app.user.name }}">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {#<li><span id="campaignchain_user_datetime"></span></li>#}
                            {#<li class="divider"></li>#}
                            <li class="dropdown-header">{{ app.user.name }} ({{ app.user.username }})</li>
                            <li><a href="{{ path('campaignchain_core_profile_edit') }}"><span class="fa fa-user"></span> Profile</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><span class="fa fa-sign-out"></span> Logout</a></li>
                        </ul>
                    </li>
                </ul>

                <!-- Settings -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#sidemenu" data-toggle="sidemenu" title="Settings"><span class="fa fa-cog"></span> <span class="visible-xs-inline">Settings </span></a>
                    </li>
                </ul>

            {% endif %}

            <!-- Developer Tools -->
            {% if campaignchain_dev and is_granted('ROLE_USER') %}
            <ul class="nav navbar-nav navbar-right">
                <li data-step="7"><a href="#" onclick="popupwindow('{{ campaignchain_system.getDocsURL() }}/user/index.html','',900,600)"><i class="fa fa-book"></i> <span class="visible-md-inline visible-lg-inline visible-sm-inline">Help</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Developer Tools"><span class="fa fa-wrench"></span> <span class="visible-xs-inline">Developer Tools </span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('campaignchain_development_sample_data') }}">Sample Data</a></li>
                        <li><a href="{{ path('campaignchain_development_reset_system') }}">Reset System</a></li>
                        <li><a href="{{ path('nelmio_api_doc_index') }}" target="_blank">REST API Doc</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
