{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
    <script>
        $(":required")
                .closest(".control-group")
                .children("label")
                .prepend("<span class='icon-asterisk'></span> ");
    </script>
    {% javascripts '@daterangepicker_js' combine=false %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
    {% stylesheets '@select2_css' combine=true %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    {% stylesheets '@daterangepicker_css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% javascripts '@select2_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage|raw }}
        </div>
    {% endfor %}

    {% block form_header %}{% endblock %}

    {% block form %}
        <form method="POST" class="form-horizontal" role="form" {{ form_enctype(form) }}>
            {{ bootstrap_set_style('horizontal') }}
            {{ bootstrap_set_widget_col(6) }}
            {{ bootstrap_set_label_col(2) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-6">
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        {% if form_cancel_route is defined %}
                            <a href="{{ path(form_cancel_route) }}" class="btn btn-default" role="button"><i class="fa fa-close"></i> Cancel</a>
                        {% endif %}
                        {% if form_submit_label is defined %}
                            {% if form_submit_label == 'Save' %}
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save</button>
                            {% elseif form_submit_label == 'Upload' %}
                                <button class="btn btn-primary" type="submit"><i class="fa fa-upload"></i> Upload</button>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-primary" type="submit">Next <i class="fa fa-arrow-right"></i></button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}

    {% block form_footer %}{% endblock %}

{% endblock %}