{#
This file is part of the CampaignChain package.

(c) CampaignChain, Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:base_modal.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
    <script>
//        $('#campaignchain_core_milestone_campaignchain_hook_campaignchain_due_date').click(function() {
//            $(this).datetimepicker('show');
//            $(this).datetimepicker({autoclose: true});
//        });
        $(":required")
                .closest(".control-group")
                .children("label")
                .prepend("<span class='icon-asterisk'></span> ");
    </script>
    {% javascripts '@daterangepicker_js' combine=false %}
        <!-- Daterangepicker JS --><script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
    {% stylesheets '@select2_css' combine=true %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    {% stylesheets '@daterangepicker_css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% javascripts '@select2_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage|raw }}
        </div>
    {% endfor %}

    {% block form_header %}{% endblock %}

    <form method="POST" class="form-horizontal" role="form">
        {{ bootstrap_set_style('horizontal') }}
        {{ bootstrap_set_widget_col(9) }}
        {{ bootstrap_set_label_col(3) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    {% block form_footer_btn_group %}{% endblock %}
                    {% if form_submit_label is defined %}
                        {% if form_submit_label == 'Save' %}
                            <button class="btn btn-primary" type="submit" data-toggle="tooltip" data-placement="top" data-original-title="Save"><i class="fa fa-save"></i></button>
                        {% elseif form_submit_label == 'Upload' %}
                            <button class="btn btn-primary" type="submit" data-toggle="tooltip" data-placement="top" data-original-title="Upload"><i class="fa fa-upload"></i></button>
                        {% elseif form_submit_label == 'Upload' %}
                            <button class="btn btn-primary" type="submit" data-toggle="tooltip" data-placement="top" data-original-title="Next"><i class="fa fa-arrow-right"></i></button>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-primary" type="submit" data-toggle="tooltip" data-placement="top" data-original-title="Save"><i class="fa fa-save"></i></button>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    {% block form_footer %}{% endblock %}

{% endblock %}