{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<h3>{{ settings.title }}</h3>
<ul class="list-group">
{% for activity in activities %}
    <li class="list-group-item">
        <h5 class="list-group-item-heading">
            <img src="{{ asset(
                activity|campaignchain_channel_asset_path~'/images/icons/16x16/'~activity|campaignchain_channel_icon_name
            ) }}" class="fa-fw"/>
        <a href="{{ path('campaignchain_core_activity_edit',{'id':activity.id}) }}">{{ activity.name }}</a>
        </h5>
        <p class="list-group-item-text">
            <i class="fa fa-clock-o fa-fw"></i> In {{ activity.startDate|campaignchain_time_remaining }}
        </p>
        <p class="list-group-item-text">
            <i class="fa fa-bullhorn fa-fw"></i>
            <a href="{{ path('campaignchain_core_campaign_edit',{'id':activity.getCampaign().id}) }}">{{ activity.getCampaign().getName() }}</a>
        </p>
    </li>
{% else %}
    <li class="list-group-item">
        <h5 class="list-group-item-heading">No activities.</h5>
    </li>
{% endfor %}
</ul>