{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<h3>{{ settings.title }}</h3>
<ul class="list-group">
{% for activity in activities %}
    <li class="list-group-item">
        {{ activity.startDate|campaignchain_remaining_time_badge|raw }}
        <h5 class="list-group-item-heading">
            <div class='campaignchain-medium-icon'>
                <a href="{{ path('campaignchain_core_activity_edit',{'id':activity.id}) }}">
                    <img class='icon' src='{{ asset( activity.getLocation()|campaignchain_medium_icon ) }}'/>
                    <img class='context-icon' src='{{ asset( activity.getLocation()|campaignchain_medium_context ) }}' style='background-image: url("{{ asset( activity.getLocation()|campaignchain_medium_context ) }}");'/>
                </a>
                <span class="text"><a href="{{ path('campaignchain_core_activity_edit',{'id':activity.id}) }}">{{ activity.name }}</a></span>
            </div>
        </h5>
        <p class="list-group-item-text">
            <i class="fa fa-clock-o fa-fw"></i> In {{ activity.startDate|campaignchain_remaining_time|raw }}
        </p>
        <p class="list-group-item-text">
            <i class="fa fa-bullhorn fa-fw"></i>
            <a href="{{ path('campaignchain_core_campaign_edit',{'id':activity.getCampaign().id}) }}">{{ activity.getCampaign().getName() }}</a>
        </p>
    </li>
{% else %}
    <li class="list-group-item">
        <h5 class="list-group-item-heading">No activities.</h5>
    </li>
{% endfor %}
</ul>