{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% set campaign_tpl_options = {'size': '16'} %}

<div id="campaignchain-block">
    <h3>{{ settings.title }}</h3>
    <ul class="list-group">
    {% for milestone in milestones %}
        <li class="list-group-item">
            {{ milestone.startDate|campaignchain_remaining_time_badge|raw }}
            <h5 class="list-group-item-heading">
                <i class="fa fa-bullseye fa-fw"></i>
                <a href="{{ path('campaignchain_core_milestone_edit',{'id':milestone.id}) }}">{{ milestone.name }}</a>
            </h5>
            <p class="list-group-item-text">
                <i class="fa fa-clock-o fa-fw"></i> In {{ milestone.startDate|campaignchain_remaining_time|raw }}
            </p>
            <p class="list-group-item-text">
                {{ milestone.getCampaign()|campaignchain_tpl_teaser(campaign_tpl_options) }}
            </p>
        </li>
    {% else %}
        <li class="list-group-item">
            <h5 class="list-group-item-heading">No milestones.</h5>
        </li>
    {% endfor %}
    </ul>
</div>