{#
This file is part of the CampaignChain package.

(c) CampaignChain, Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<h3>{{ settings.title }}</h3>
<ul class="list-group">
    {% set counter = 0 %}
    {% for feed in feeds if counter < settings.limit %}
        <li class="list-group-item">
            <h5 class="list-group-item-heading">
                <a href="{{ feed.link}}" rel="nofollow" title="{{ feed.title }}">{{ feed.title }}</a>
            </h5>
            <p class="list-group-item-text">
                <i class="fa fa-clock-o fa-fw"></i> {{ feed.pubDate }}
            </p>
        </li>
        {% set counter = counter + 1 %}
    {% else %}
        <li class="list-group-item">
            <h5 class="list-group-item-heading">No news.</h5>
        </li>
    {% endfor %}
</ul>