{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% block javascripts %}
    {% javascripts '@dhtmlxgantt_js' combine=true %}
    <!-- @dhtmlxgantt_js --><script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@dhtmlxgantt_tooltip_js' combine=true %}
    <!-- @dhtmlxgantt_tooltip_js --><script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@dhtmlxgantt_css' combine=true %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% set gantt_toolbar_status = 'inline' %}

{% include 'CampaignChainCoreBundle:Plan/Timeline:toolbar.html.twig' %}

<div id="gantt_here" style='width:100%; height:600px;'></div>

<script type="text/javascript">
    var tasks = {{ gantt_tasks|raw }}
            gantt.init("gantt_here");
</script>
{% javascripts '@campaignchain_dhtmlxgantt_pre_init_js' combine=true %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
    var tasks = {{ gantt_tasks|raw }}
    gantt.init("gantt_here");
</script>
{% javascripts '@campaignchain_dhtmlxgantt_post_init_js' combine=true %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
    gantt.parse (tasks);

    scrollToToday();
</script>

<!-- Modal -->
<div class="modal fade" id="ganttModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->