{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@countdown_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4">
    {{ sonata_block_render({ 'type': 'campaignchain.block.activity.upcoming.listgroup' }, {
    'limit': '5',
    'sort': 'DESC'
    }) }}
    <a class="btn btn-primary" href="{{ path('campaignchain_core_activities') }}">All Activities</a>
    </div>
    <div class="col-md-4">
        {{ sonata_block_render({ 'type': 'campaignchain.block.milestone.upcoming.listgroup' }, {
        'limit': '5',
        'sort': 'DESC'
        }) }}
        <a class="btn btn-primary" href="{{ path('campaignchain_core_milestone') }}">All Milestones</a>
    </div>
    <div class="col-md-4">
        {{ sonata_block_render({ 'type': 'campaignchain.block.campaign.ongoing.listgroup' }, {
        'limit': '5',
        'sort': 'DESC'
        }) }}
        <a class="btn btn-primary" href="{{ path('campaignchain_core_campaign') }}">All Campaigns</a>
    </div>
</div>

 {% endblock %}
