{#
This file is part of the CampaignChain package.

(c) CampaignChain, Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block bodytabs %}
    {{ knp_menu_render('CampaignChainCoreBundle:Builder:executeListTab', { 'style': 'tabs' }) }}
{% endblock %}

{% block body %}
    {% include 'CampaignChainCoreBundle:Base:datatable.html.twig' %}

    <!--<div class="table-responsive">-->
        <table id="example" class="table table-striped table-bordered dataTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Campaign</th>
                    <th>Execution</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for activity in activities %}
                    <tr class="
                            {% if activity.status == "closed" or activity.status == "paused" %}text-muted {% endif %}
                            ">
                        <td align="center">
                            {% if activity.status == "open" %}
                                <i class="fa fa-clock-o"></i>
                            {% elseif activity.status == "paused" %}
                                <i class="fa fa-pause-circle-o"></i>
                            {% elseif activity.status == "closed" %}
                                <i class="fa fa-check-circle"></i>
                            {% endif %}
                        </td>
                        <td>
                            {{ activity|campaignchain_tpl_teaser }}
                        </td>
                        <td>{{ activity.getCampaign().getName() }}</td>
                        <td>
                            {{ activity|campaignchain_tpl_trigger_hook }}
                        </td>
                        <td align="center">
                            {% if activity.status == 'open' or activity.status == 'paused' %}
                            <a  class="btn btn-primary"
                                role="button"
                                data-toggle="tooltip" data-placement="top" data-original-title="Edit"
                                href="{{ path('campaignchain_core_activity_edit',{'id':activity.id}) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            {% else %}
                            <a  class="btn btn-primary"
                                role="button"
                                data-toggle="tooltip" data-placement="top" data-original-title="View"
                                href="{{ path('campaignchain_core_activity_read',{'id':activity.id}) }}">
                                <span class="fa fa-file-text"></span>
                            </a>
                            {% endif %}
                            {{ activity|campaignchain_tpl_delete_activity }}
                            {#{% if activity.status == "paused" %}#}
                                {#<button type="button" class="btn btn-default btn-xs">#}
                                    {#<a href="#"><span class="fa fa-play"></span></a>#}
                                {#</button>#}
                            {#{% else %}#}
                                {#<button type="button" class="btn btn-default btn-xs">#}
                                    {#<a href="#"><span class="fa fa-pause"></span></a>#}
                                {#</button>#}
                            {#{% endif %}#}
                            {#<button type="button" class="btn btn-default btn-xs">#}
                                {#<a href="#"><span class="fa fa-trash-o"></span></a>#}
                            {#</button>#}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <!--</div>-->
{% endblock %}
