{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block bodytabs %}
    {{ knp_menu_render('CampaignChainCoreBundle:Builder:executeListTab', { 'style': 'tabs' }) }}
{% endblock %}

{% block body %}
    {% include 'CampaignChainCoreBundle:Base:datatable.html.twig' %}

    <!--<div class="table-responsive">-->
        <table id="example" class="table table-striped table-bordered dataTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Campaign</th>
                    <th>Execution</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for activity in activities %}
                    <tr class="
                            {% if activity.status == "closed" or activity.status == "paused" %}text-muted {% endif %}
                            ">
                        <td align="center">
                            {% if activity.status == "open" or activity.status == "paused" %}
                                <i class="fa fa-clock-o"></i>
                            {% elseif activity.status == "closed" %}
                                <i class="fa fa-check-circle"></i>
                            {% endif %}
                        </td>
                        <td>
                            <div class='campaignchain-medium-icon'>
                                <a href="{{ path('campaignchain_core_activity_edit',{'id':activity.id}) }}">
                                    <img class='icon' src='{{ asset( activity.getLocation()|campaignchain_medium_icon ) }}'/>
                                    <img class='context-icon' src='{{ asset( activity.getLocation()|campaignchain_medium_context ) }}' style='background-image: url("{{ asset( activity.getLocation()|campaignchain_medium_context ) }}");'/>
                                </a>
                                <span class="text"><a href="{{ path('campaignchain_core_activity_edit',{'id':activity.id}) }}">{{ activity.name }}</a></span>
                            </div>
                        </td>
                        <td>{{ activity.getCampaign().getName() }}</td>
                        <td>
                            {{ activity|campaignchain_tpl_trigger_hook_inline }}
                        </td>
                        <td align="center">
                            {% if activity.status == "open" or activity.status == "paused" %}
                                <button type="button" class="btn btn-default">
                                    <a href="{{ path('campaignchain_core_activity_edit',{'id':activity.id}) }}">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                </button>
                            {% elseif activity.status == "closed" %}
                                <button type="button" class="btn btn-default">
                                    <a href="{{ path('campaignchain_core_activity_read',{'id':activity.id}) }}">
                                        <span class="fa fa-file-text"></span>
                                    </a>
                                </button>
                            {% endif %}
                            {#{% if activity.status == "paused" %}#}
                                {#<button type="button" class="btn btn-default btn-xs">#}
                                    {#<a href="#"><span class="fa fa-play"></span></a>#}
                                {#</button>#}
                            {#{% else %}#}
                                {#<button type="button" class="btn btn-default btn-xs">#}
                                    {#<a href="#"><span class="fa fa-pause"></span></a>#}
                                {#</button>#}
                            {#{% endif %}#}
                            {#<button type="button" class="btn btn-default btn-xs">#}
                                {#<a href="#"><span class="fa fa-trash-o"></span></a>#}
                            {#</button>#}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <!--</div>-->
{% endblock %}
