{#
This file is part of the CampaignChain package.

(c) CampaignChain, Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:new_dependent_select.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form_single) }}
    {% if form_multiple is not null %}
        {{ form_javascript(form_multiple) }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form_single) }}
    {% if form_multiple is not null %}
        {{ form_stylesheet(form_multiple) }}
    {% endif %}
{% endblock %}

{% block form %}
<div class="row">
    {% if form_multiple is not null %}
    <div class="col-md-6">
        <h2>Single Location</h2>
    {% else %}
    <div class="col-md-9">
    {% endif %}
        <form method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
            {{ bootstrap_set_style('horizontal') }}
            {{ bootstrap_set_widget_col(8) }}
            {{ bootstrap_set_label_col(3) }}
            {{ form_widget(form_single) }}
            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-8">
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        {% include 'CampaignChainCoreBundle:Base:form_footer_buttons.html.twig' %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if form_multiple is not null %}
    <div class="col-md-6">
        <h2>Multiple Locations</h2>
        <form method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
            {{ bootstrap_set_style('horizontal') }}
            {{ bootstrap_set_widget_col(8) }}
            {{ bootstrap_set_label_col(3) }}
            {{ form_widget(form_multiple) }}
            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-8">
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        {% include 'CampaignChainCoreBundle:Base:form_footer_buttons.html.twig' %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}