{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends 'CampaignChainCoreBundle:Base:new_dependent_select.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form_single) }}
    {% if form_multiple is not null %}
        {{ form_javascript(form_multiple) }}
    {% endif %}

    {% javascripts '@blockui_js' combine=true %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#campaign_new_1, #campaign_new_2').on('click', function () {

                var modal = new CampaignChain.Modal();

                modal.init({
                    spinner_start: $.blockUI,
                    spinner_stop: $.unblockUI
                });

                modal.showForm('campaignchain_core_campaign_new');

                $(document).on('campaignchain:form:submit:success', function (e, data) {
                    // if step 1 goto step 2
                    if (data.step === 1) {
                        modal.showForm(data.next_step);

                        // if step 2 reload current page
                    } else if (data.step === 2) {
                        location.reload();
                    }
                });

                // TODO: when there is proper validation in the controller implemented, show error messages here
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form_single) }}
    {% if form_multiple is not null %}
        {{ form_stylesheet(form_multiple) }}
    {% endif %}
{% endblock %}

{% block form %}
<div class="row">
    {% if form_multiple is not null %}
    <div class="col-md-6">
        <h2>Single Location</h2>
    {% else %}
    <div class="col-md-9">
    {% endif %}
        <form method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-10">
                    {{ bootstrap_set_style('horizontal') }}
                    {{ bootstrap_set_widget_col(9) }}
                    {{ bootstrap_set_label_col(3) }}
                    {{ form_widget(form_single) }}
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-default" type="button" id="campaign_new_1"><i
                                class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-8">
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        {% include 'CampaignChainCoreBundle:Base:form_footer_buttons.html.twig' %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if form_multiple is not null %}
    <div class="col-md-6">
        <h2>Multiple Locations</h2>
        <form method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-10">
                    {{ bootstrap_set_style('horizontal') }}
                    {{ bootstrap_set_widget_col(9) }}
                    {{ bootstrap_set_label_col(3) }}
                    {{ form_widget(form_multiple) }}
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-default" type="button" id="campaign_new_2"><i
                                class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-8">
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        {% include 'CampaignChainCoreBundle:Base:form_footer_buttons.html.twig' %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}