{#
This file is part of the CampaignChain package.

(c) CampaignChain, Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{#
    When a new activity gets created, these variables must be provided by the
    controller:

    - location
    - campaign

    If the activity exists, then it suffices to provide the activity object as
    a variable.
#}
{% if campaign is not defined %}
    {% set campaign = activity.getCampaign() %}
    {% set location = activity.getLocation() %}
{% endif %}

{% if show_date is not defined %}
    {% set show_date = false %}
{% endif %}

{% set campaign_tpl_options = {'size': '16'} %}

<div id="campaignchain-activity-sidebar">
    <div class="campaignchain-sidebar-item">
        <h5>Campaign</h5>
        {{ campaign|campaignchain_tpl_teaser(campaign_tpl_options) }}<br/>
        {{ campaign|campaignchain_tpl_trigger_hook_inline }}
    </div>
    {% if activity.getStatus() == 'closed' or show_date == true %}
        <div class="campaignchain-sidebar-item">
            <h5>Execution</h5>
            <div class="campaignchain-sidebar-icon"><i class="fa fa-clock-o"></i></div>
            <div class="campaignchain-sidebar-data">{{ activity|campaignchain_tpl_trigger_hook_inline }}</div>
        </div>
    {% endif %}
    {% if location is defined and location is not null %}
        {% if location.getUrl() != '' %}
            <div class="campaignchain-sidebar-item">
                <h5>Location</h5>
                <div class="campaignchain-sidebar-icon"><i class="fa fa-globe"></i></div>
                <div class="campaignchain-sidebar-data"><a href="{{ location.getUrl() }}">{{ location.getUrl() }}</a></div>
            </div>
        {% endif %}
    {% endif %}
</div>