{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block bodytabs %}
    {{ knp_menu_render('CampaignChainCoreBundle:Builder:userListTab', { 'style': 'tabs' }) }}
{% endblock %}

{% block body %}
    {% include 'CampaignChainCoreBundle:Base:datatable.html.twig' %}
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <a href="{{ url('campaignchain_core_user_new') }}" class="btn btn-primary" role="button"><span class="fa fa-plus"></span> New user</a>
        </div>
    </div>

    <!--<div class="table-responsive">-->
        <table id="example" class="table table-striped table-bordered dataTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr class="
                            {% if user.expired == true or user.enabled == 0 %}text-muted {% endif %}
                            ">
                        <td>
                            <img class="campaignchain-profile-image" src="{{ user|campaignchain_user_avatar|imagine_filter('navbar_avatar') }}" class="avatar" alt="{{ app.user.name }}">
                            {{ user.name }}
                        </td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.humanRole }}</td>
                        <td>
                            <a role="button" class="btn btn-primary"
                               data-toggle="tooltip" data-placement="top" data-original-title="Edit"
                               href="{{ path('campaignchain_core_profile_edit',{'id':user.id}) }}">
                                <span class="fa fa-pencil"></span>
                            </a>
                            {% if user.enabled %}
                            <a role="button" class="btn btn-primary"
                               data-toggle="tooltip" data-placement="top" data-original-title="Disable"
                               href="{{ path('campaignchain_core_user_toggle_enabling',{'id':user.id}) }}">
                                <span class="fa fa-check-square-o"></span>
                            </a>
                                {% else %}
                                    <a role="button" class="btn btn-primary"
                                       data-toggle="tooltip" data-placement="top" data-original-title="Enable"
                                       href="{{ path('campaignchain_core_user_toggle_enabling',{'id':user.id}) }}">
                                        <span class="fa fa-square-o"></span>
                                    </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <!--</div>-->
{% endblock %}
