{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends 'CampaignChainCoreBundle:Base:new.html.twig' %}

{% set campaignchain_body_col = 12 %}

{% block bodytabs %}
    {{ knp_menu_render(
    'CampaignChainCoreBundle:PlanActivityBuilder:navbar',
    {
        'template': 'CampaignChainCoreBundle:Menu:nav_top.html.twig',
        'style': 'navbar'
    }
    ) }}
{% endblock %}

{% block form_header %}
<div class="row">
    <div class="col-md-8">
        {% block form_header_content %}{% endblock %}
        {% endblock %}

        {% block form %}
            {% embed 'AvanzuAdminThemeBundle:Widgets:box-widget.html.twig'  with{
            'boxtype': 'primary'
            } %}
                {% block box_before %}
                    <form method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
                    {{ bootstrap_set_style('horizontal') }}
                    {{ bootstrap_set_widget_col(9) }}
                    {{ bootstrap_set_label_col(3) }}
                {% endblock %}
                {% block box_body %}
                    {{ form_widget(form) }}
                {% endblock %}
                {% block box_footer %}
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        {% include 'CampaignChainCoreBundle:Base:form_footer_buttons.html.twig' %}
                    </div>
                {% endblock %}
                {% block box_after %}
                    </form>
                {% endblock %}
            {% endembed %}
        {% endblock %}

        {% block form_footer %}
    </div>
    <div class="col-md-4">
        {% include 'CampaignChainCoreBundle:Activity:sidebar.html.twig' %}
    </div>
</div>
{% endblock %}