{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Introduction</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <p>Our marketing integration software provides you with a manageable overview of campaign activities in many online channels. It automates routine work so that you can focus on new lead generation opportunities.</p>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Software</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <dl class="dl-horizontal">
                    {% if (campaignchain_system is not null) %}
                        {% if campaignchain_system.name is not null %}
                            <dt>Edition</dt>
                            <dd>{{ campaignchain_system.name }}</dd>
                        {% endif %}
                        {% if campaignchain_system.version is not null %}
                            <dt>Version</dt>
                            <dd>{{ campaignchain_system.version }}</dd>
                        {% endif %}
                        {% if campaignchain_system.homepage is not null %}
                            <dt>Homepage</dt>
                            <dd><a href="{{ campaignchain_system.homepage }}">{{ campaignchain_system.homepage }}</a></dd>
                        {% endif %}
                    {% endif %}
                </dl>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-6">
        {{ sonata_block_render({ 'type': 'campaignchain.block.rss' }, {
        'title': 'News',
        'limit': 2,
        'url': 'http://www.campaignchain.com/feed/'
        }) }}
        <h3>Newsletter</h3>
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <form action="//campaignchain.us8.list-manage.com/subscribe/post?u=4e7e7de144345854a29ad254d&amp;id=83c2f1416a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" role="form" novalidate>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-at"></i></div>
                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_4e7e7de144345854a29ad254d_83c2f1416a" tabindex="-1" value=""></div>
            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe</button>
        </form>

        <!--End mc_embed_signup-->
    </div>
</div>
 {% endblock %}
